.root {
    padding: 24px;

    color: var(--primary-text);
    background-color: var(--background-card);
    border-radius: var(--border-radius);

    text-align: left;
    letter-spacing: 0;
}

.title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.paragraph {
    padding-top: 16px;
}
